{% extends "layouts/main.html" %}

{% set pageName = "Do you have concerns about communicating with your baby?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["communication-concerns"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["communication-concerns"], href: "#communication-concerns" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "communication-concerns",
      fieldset: {
        legend: {
          text: "Do you have concerns about communicating with your baby?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "For example, understanding their cries or responding to their needs." },
      errorMessage: errors["communication-concerns"] if errors else null,
      value: data["communication-concerns"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
